<?xml version="1.0"?>
<model>
  <name>Small Vision Quadrotor</name>
  <version>1.0</version>
  <sdf version='1.6'>visquad.sdf</sdf>

  <author>
   <name>Lorenz Meier and Thomas Gubler</name>
   <email>lorenz@px4.io</email>
  </author>

  <description>
	  This is a model of DASC Lab's 5in Vision Quadrotor. 
	  It simply takes the iris model and replaces some of the parameters
	  The original model has been created by Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
